#cal-area {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    .input-a, .input-b, .input-result {
        margin-bottom: 20px;
        .label {
            float: left;
            margin: 0;
            padding-right: 20px;
        }
        .input-number {
            font-size: 14px;
        }
        .warning {
            color: red;
            display: none;
            float: right;
            font-size: 14px;
            margin: 0;
        }
    }
    .operator-area {
        margin-bottom: 20px;
        .operator-button {
            background-color: transparent;
            border: 2px solid #b4b4b4;
            color: black;
            font-size: 14px;
            padding: 5px 10px;
            &:hover {
                border-color: #222222;
            }
            &.active {
                background-color: #222222;
                border-color: #222222;
                color: #fff;
            }
        }
        .warning {
            color: red;
            display: none;
            float: right;
            font-size: 14px;
            margin: 0;
            padding-top: 5px;
        }
    }
    .result-area {
        .input-number {
            font-weight: bold;
            width: 70%;
        }
    }

    .button-area {
        float: right;
        .checkbox {
            margin-top: 0px;
        }
        .action-button {
            background-color: transparent;
            border: 2px solid #b4b4b4;
            color: black;
            font-size: 14px;
            padding: 5px 10px;
            &:hover {
                border-color: #222222;
            }
        }
        .loading-area {
            display: none;
            .loading {
                width: 30px;
                height: 30px;
            }
            span {
                font-size: 12px;
                margin-top: 10px;
                display: inline-block;
                position: absolute;
            }
        }
    }
    button:focus, input:focus {outline:0;}
}
